<div class="container my-activities-page">
  <div class="container-inner">
    <header class="my-activities-header">
  <h1 class="h2">{{t 'my_activities' }}</h1>
</header>

    <nav class="my-activities-menu my-activities-menu--main">
      <ul class="my-activities-menu__items clearfix">
        {{#if help_center.request_management_enabled}}
          <li class="my-activities-menu__item">{{link 'requests'}}</li>
        {{/if}}
        <li class="my-activities-menu__item">{{link 'contributions'}}</li>
        <li class="my-activities-menu__item is-active">{{t 'following'}}</li>
      </ul>
    </nav>

    {{#if subscriptions}}
      <div class="my-activities-items">
        <div class="my-activities-items__head">
          <div class="my-activities-items__row">
            <div class="my-activities-items__col">{{t 'title'}}</div>
            <div class="my-activities-items__col">{{t 'type'}}</div>
            <div class="my-activities-items__col">{{t 'subscription'}}</div>
            <div class="my-activities-items__col">&nbsp;</div>
          </div>
        </div>
        <div class="my-activities-items__body">
          {{#each subscriptions}}
            <div class="my-activities-items__row my-activities-item">
              <div class="my-activities-items__col">
                <a class="my-activities-item__title" href="{{url}}">
                  {{excerpt title characters=60}}
                </a>
              </div>
              <div class="my-activities-items__col my-activities-item__meta">{{name}}</div>
              <div class="my-activities-items__col my-activities-item__meta">{{unsubscribe}}</div>
              <div class="my-activities-items__col my-activities-item__meta">{{subscribe}}</div>
            </div>
          {{/each}}
        </div>
      </div>
      {{pagination}}
    {{else}}
      <p>{{t 'not_following'}}</p>
    {{/if}}
  </div>
</div>
